:root{
    --theme1: #f35434;
}

div{
  border:1px solid black;
}

#box{
    box-sizing: border-box;
    margin-top: 0px;
    min-height: 100vh;
    width: 100%;
}

.startbody{
    border: 2px solid black;
    margin: 1vh 15vw;
    padding: 6vh 4vw;
    height: 100%;
}

#legend1{
    position: relative;
    border: 1px solid black;
    top: -9vh;
    width: 20vw;
    margin: auto;
    font-size: 4vh;
    text-align: center;
}

#legend2{
    position: relative;
    border: 1px solid black;
    top: 10vh;
    font-size: 4vh;
}

#centrelogo {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
    padding: 2hv 0;
}
  
#centrelogo:before,
#centrelogo:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid var(--theme1);
    margin: auto;
}
  
#logoimage {
    height: 12vh;
    width: 6vw;
    border-radius: 100%;
    margin: 0 1vw;
}

.startbody{

}
  